{% extends "auctions/layout.html" %}

{% block body %}

    <h2>New Listing</h2>

    <form action="{% url 'NewList' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="title" placeholder="Title">
        </div>
        <div class="form-group">
            <textarea class="form-control" name="description" placeholder="Description"></textarea>
        </div>
        <div class="form-group">
            <input class="form-control" type="number" min=0 name="price" placeholder="$ Inicial Price">
        </div>
        <div class="form-group">
            <input class="form-control" type="url" name="url" placeholder="Image">
        </div>

        <select name="category">
            {% for category in categories %}
                <option value="{{ category }}">{{ category }}</option>
            {% endfor %}
        </select>
        </br>
        <input class="btn btn-primary" type="submit" value="Add">
    </form>


{% endblock %}